<h1>Time to Review Some Properties</h1>

<h2>Add a New Property to the List!</h2>
  <form action="/properties" method="POST">
    <input type="text" id="name" name="address" placeholder="Address">
    <input type="text" id="name" name="city" placeholder="City">
    <input type="text" id="name" name="state" placeholder="State">
    <input type="text" id="name" name="zip" placeholder="ZIP">
    <input type="text" id="name" name="sale_date" placeholder="Sale Date">
    <input type="text" id="name" name="sale_price" placeholder="Sale Price">
    <button type="submit" class="addPropertyButton">Submit</button>
  </form>

<div id = "newProperty">
  <h2>Properties</h2>
  <h3>(Click on the property to remove it from the list)</h3>

      <table>
        <tr>
          <th>id</th>
          <th>Address</th> 
          <th>City</th>
          <th>State</th>
          <th>ZIP</th> 
          <th>Sale Date</th>
          <th>Sale Price</th>
        </tr>
        {{#each properties}}
         {{#unless this.deleted}}
        <form action="/properties/{{this.id}}?_method=PUT" method="POST">
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.address}}</td>
            <td>{{this.city}}</td> 
            <td>{{this.state}}</td>
            <td>{{this.zip}}</td> 
            <td>{{this.sale_date}}</td>
            <td>{{this.sale_price}}</td> 
          </tr>
        </form>
      </table>
    {{/unless}}
  {{/each}}
</div>